In [16]:
import pandas as pd 
import numpy as np

In [8]:
df =pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv")

In [10]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [20]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [24]:
np.full(20, 2)

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [32]:
a = np.arange(10)
b=np.linspace(1, 2)

In [47]:
b[2]

1.0408163265306123

### Multidimensional arrays

In [50]:
np.zeros((4, 2))

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [58]:
n= np.array([
    [1, 3, 4, ], 
    [2, 1, 2 ], 
    [1, 0 , 2]    
])

In [66]:
n[0, 2]=21
n

array([[ 1,  3, 21],
       [ 2,  1,  2],
       [ 1,  0,  2]])

### Randomly generated arrrays

In [93]:
np.random.seed(2)

array([], shape=(0, 10), dtype=float64)

In [97]:
x=np.random.rand(0, 10)
x

array([], shape=(0, 10), dtype=float64)